orbit-n8n/irbas-n8n-poc/.exec28.json
{"data":{"id":"28","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-06-22T12:00:49.730Z","startedAt":"2026-06-22T12:00:49.741Z","stoppedAt":"2026-06-22T12:00:51.924Z","deletedAt":null,"workflowId":"c2W3ZYwZj6LsdKwQ","waitTill":null,"storedAt":"db","tracingContext":null,"deduplicationKey":null,"data":"[{\"version\":1,\"startData\":\"1\",\"resultData\":\"2\",\"executionData\":\"3\",\"resumeToken\":\"4\"},{},{\"error\":\"5\",\"runData\":\"6\",\"lastNodeExecuted\":\"7\"},{\"contextData\":\"8\",\"nodeExecutionStack\":\"9\",\"metadata\":\"10\",\"waitingExecution\":\"11\",\"waitingExecutionSource\":\"12\",\"runtimeData\":\"13\"},\"6417e7ef3c9291b6480cbc59d539f075f02eceb27fa31f1f600dcaa0d3ee6e6b\",{\"level\":\"14\",\"tags\":\"15\",\"description\":\"16\",\"timestamp\":1782129651909,\"context\":\"17\",\"functionality\":\"18\",\"name\":\"19\",\"node\":\"20\",\"messages\":\"21\",\"httpCode\":\"22\",\"message\":\"23\",\"stack\":\"24\"},{\"Slack Incoming\":\"25\",\"Extract Fields\":\"26\",\"Log Raw Message\":\"27\",\"Capture Message Id\":\"28\",\"Has Image Proof\":\"29\",\"Download Image\":\"30\",\"Build Vision Body\":\"31\",\"Groq Vision\":\"32\"},\"Groq Vision\",{},[\"33\"],{},{},{},{\"version\":1,\"establishedAt\":1782129649729,\"source\":\"34\",\"triggerNode\":\"35\",\"redaction\":\"36\"},\"warning\",{},\"invalid base64 url\",{\"itemIndex\":0,\"request\":\"37\"},\"regular\",\"NodeApiError\",{\"parameters\":\"38\",\"id\":\"39\",\"name\":\"7\",\"type\":\"40\",\"typeVersion\":4.2,\"position\":\"41\"},[\"42\"],\"400\",\"Bad request - please check your parameters\",\"NodeApiError: Bad request - please check your parameters\\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:865:16)\\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1053:8)\\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1327:11)\\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1778:27\\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2474:11\",[\"43\"],[\"44\"],[\"45\"],[\"46\"],[\"47\"],[\"48\"],[\"49\"],[\"50\"],{\"node\":\"51\",\"data\":\"52\",\"source\":\"53\"},\"webhook\",{\"name\":\"54\",\"type\":\"55\"},{\"version\":2,\"production\":false,\"manual\":false,\"source\":\"56\"},{\"body\":\"57\",\"headers\":\"58\",\"method\":\"59\",\"uri\":\"60\",\"gzip\":true,\"rejectUnauthorized\":true,\"followRedirect\":true,\"resolveWithFullResponse\":true,\"sendCredentialsOnCrossOriginRedirect\":true,\"followAllRedirects\":true,\"timeout\":300000,\"encoding\":null,\"json\":false,\"useStream\":true},{\"curlImport\":\"61\",\"method\":\"59\",\"url\":\"60\",\"authentication\":\"62\",\"provideSslCertificates\":false,\"sendQuery\":false,\"sendHeaders\":true,\"specifyHeaders\":\"63\",\"headerParameters\":\"64\",\"sendBody\":true,\"contentType\":\"65\",\"specifyBody\":\"65\",\"jsonBody\":\"66\",\"options\":\"67\",\"infoMessage\":\"61\"},\"groq-vision\",\"n8n-nodes-base.httpRequest\",[2220,60],\"400 - \\\"{\\\\\\\"error\\\\\\\":{\\\\\\\"message\\\\\\\":\\\\\\\"invalid base64 url\\\\\\\",\\\\\\\"type\\\\\\\":\\\\\\\"invalid_request_error\\\\\\\"}}\\\\n\\\"\",{\"startTime\":1782129649771,\"executionIndex\":0,\"source\":\"68\",\"hints\":\"69\",\"executionTime\":1,\"executionStatus\":\"70\",\"data\":\"71\"},{\"startTime\":1782129649773,\"executionIndex\":1,\"source\":\"72\",\"hints\":\"73\",\"executionTime\":59,\"executionStatus\":\"70\",\"data\":\"74\"},{\"startTime\":1782129649832,\"executionIndex\":2,\"source\":\"75\",\"hints\":\"76\",\"executionTime\":480,\"executionStatus\":\"70\",\"data\":\"77\"},{\"startTime\":1782129650313,\"executionIndex\":3,\"source\":\"78\",\"hints\":\"79\",\"executionTime\":8,\"executionStatus\":\"70\",\"data\":\"80\"},{\"startTime\":1782129650321,\"executionIndex\":4,\"source\":\"81\",\"hints\":\"82\",\"executionTime\":4,\"executionStatus\":\"70\",\"data\":\"83\"},{\"startTime\":1782129650325,\"executionIndex\":5,\"source\":\"84\",\"hints\":\"85\",\"executionTime\":1369,\"executionStatus\":\"70\",\"data\":\"86\"},{\"startTime\":1782129651694,\"executionIndex\":6,\"source\":\"87\",\"hints\":\"88\",\"executionTime\":23,\"executionStatus\":\"70\",\"data\":\"89\"},{\"startTime\":1782129651717,\"executionIndex\":7,\"source\":\"90\",\"hints\":\"91\",\"executionTime\":207,\"executionStatus\":\"92\",\"error\":\"93\"},{\"parameters\":\"94\",\"id\":\"39\",\"name\":\"7\",\"type\":\"40\",\"typeVersion\":4.2,\"position\":\"95\"},{\"main\":\"96\"},{\"main\":\"90\"},\"Slack Incoming\",\"n8n-nodes-base.slackTrigger\",\"workflow\",{\"model\":\"97\",\"temperature\":0,\"max_tokens\":400,\"messages\":\"98\"},{\"authorization\":\"99\",\"content-type\":\"100\",\"accept\":\"101\"},\"POST\",\"https://api.groq.com/openai/v1/chat/completions\",\"\",\"none\",\"keypair\",{\"parameters\":\"102\"},\"json\",\"={{ JSON.stringify($json) }}\",{},[],[],\"success\",{\"main\":\"103\"},[\"104\"],[],{\"main\":\"105\"},[\"106\"],[],{\"main\":\"107\"},[\"108\"],[],{\"main\":\"109\"},[\"110\"],[],{\"main\":\"111\"},[\"112\"],[],{\"main\":\"113\"},[\"114\"],[],{\"main\":\"115\"},[\"116\"],[],\"error\",{\"level\":\"14\",\"tags\":\"15\",\"description\":\"16\",\"timestamp\":1782129651909,\"context\":\"17\",\"functionality\":\"18\",\"name\":\"19\",\"node\":\"20\",\"messages\":\"21\",\"httpCode\":\"22\",\"message\":\"23\",\"stack\":\"24\"},{\"curlImport\":\"61\",\"method\":\"59\",\"url\":\"60\",\"authentication\":\"62\",\"provideSslCertificates\":false,\"sendQuery\":false,\"sendHeaders\":true,\"specifyHeaders\":\"63\",\"headerParameters\":\"117\",\"sendBody\":true,\"contentType\":\"65\",\"specifyBody\":\"65\",\"jsonBody\":\"66\",\"options\":\"118\",\"infoMessage\":\"61\"},[2220,60],[\"119\"],\"meta-llama/llama-4-scout-17b-16e-instruct\",[\"120\",\"121\"],\"**hidden**\",\"application/json\",\"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",[\"122\",\"123\"],[\"124\"],{\"previousNode\":\"54\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"125\"],{\"previousNode\":\"126\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"127\"],{\"previousNode\":\"128\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"129\"],{\"previousNode\":\"130\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"131\",\"132\"],{\"previousNode\":\"133\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"134\"],{\"previousNode\":\"135\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"136\"],{\"previousNode\":\"137\",\"previousNodeOutput\":0,\"previousNodeRun\":0},{\"parameters\":\"138\"},{},[\"139\"],{\"role\":\"140\",\"content\":\"141\"},{\"role\":\"142\",\"content\":\"143\"},{\"name\":\"144\",\"value\":\"145\"},{\"name\":\"146\",\"value\":\"100\"},[\"147\"],[\"148\"],\"Extract Fields\",[\"149\"],\"Log Raw Message\",[\"150\"],\"Capture Message Id\",[\"151\"],[],\"Has Image Proof\",[\"152\"],\"Download Image\",[\"153\"],\"Build Vision Body\",[\"154\",\"155\"],{\"json\":\"156\",\"pairedItem\":\"157\"},\"system\",\"You are a classifier for payment/expense PROOF images sent by Pakistani Regional Office accountants. Respond with ONLY valid JSON — no explanation, no markdown, no backticks. Just the raw JSON object.\",\"user\",[\"158\",\"159\"],\"Authorization\",\"=Bearer {{ $env.GROQ_API_KEY }}\",\"Content-Type\",{\"json\":\"160\",\"pairedItem\":\"161\"},{\"json\":\"162\",\"pairedItem\":\"163\"},{\"json\":\"164\",\"pairedItem\":\"165\"},{\"json\":\"166\",\"pairedItem\":\"167\"},{\"json\":\"166\",\"pairedItem\":\"168\"},{\"json\":\"166\",\"binary\":\"169\",\"pairedItem\":\"170\"},{\"json\":\"156\",\"pairedItem\":\"171\"},{\"name\":\"144\",\"value\":\"145\"},{\"name\":\"146\",\"value\":\"100\"},{\"model\":\"97\",\"temperature\":0,\"max_tokens\":400,\"messages\":\"172\"},{\"item\":0},{\"type\":\"173\",\"text\":\"174\"},{\"type\":\"175\",\"image_url\":\"176\"},{\"type\":\"177\",\"subtype\":\"178\",\"channel\":\"179\",\"user\":\"180\",\"text\":\"61\",\"files\":\"181\"},{\"item\":0},{\"source\":\"182\",\"sender_phone\":\"180\",\"group_id\":\"179\",\"message_text\":\"61\",\"media_id\":\"183\",\"media_url\":\"184\",\"media_mime\":\"185\",\"raw_payload_obj\":\"186\"},{\"item\":0},{\"id\":\"187\",\"raw_payload\":\"188\",\"sender_phone\":\"180\",\"group_id\":\"179\",\"message_text\":\"61\",\"media_url\":\"183\",\"received_at\":\"189\",\"classification\":null,\"processing_status\":\"190\"},{\"item\":0},{\"whatsapp_message_id\":\"187\"},{\"item\":0},{\"item\":0},{\"data\":\"191\"},{\"item\":0},{\"item\":0},[\"192\",\"193\"],\"text\",\"The image is a payment/expense proof: a bank deposit slip, a bank transfer screenshot, or a cheque.\\nNo caption was sent with the image.\\n\\nRead the image carefully, then classify it and extract key fields. Respond with ONLY this JSON structure:\\n{\\n  \\\"classification\\\": \\\"payment_proof\\\" | \\\"expense_proof\\\" | \\\"unrecognised\\\",\\n  \\\"amount_pkr\\\": <number or null>,\\n  \\\"payment_method\\\": \\\"bank_transfer\\\" | \\\"cash_deposit\\\" | \\\"unknown\\\" | null,\\n  \\\"deposit_slip_ref\\\": \\\"<string or null>\\\",\\n  \\\"description\\\": \\\"<one line summary in English>\\\"\\n}\\n\\nRules:\\n- payment_proof: a deposit slip, transfer screenshot, or cheque showing money paid to IRBAS.\\n- expense_proof: a receipt/bill for something the RO paid for (repair, fuel, utility, purchase).\\n- unrecognised: anything that is not a payment or expense proof.\\n- amount_pkr: the main transaction amount as a plain number (450000 not \\\"450,000\\\"); null if not visible.\\n- deposit_slip_ref: the slip/reference/transaction number printed on the proof; null if none.\",\"image_url\",{\"url\":\"194\"},\"message\",\"file_share\",\"C0BBEAW2N77\",\"U07IMG01\",[\"195\"],\"slack\",\"F0IMG1\",\"https://placehold.co/760x420/png?text=Payment+to+IRBAS%0APKR+312,500%0ASlip+2026-0420\",\"image/png\",{\"type\":\"177\",\"subtype\":\"178\",\"channel\":\"179\",\"user\":\"180\",\"text\":\"61\",\"files\":\"196\"},\"6ac583e2-5c4c-4b49-841a-4fd87199a9e7\",{\"text\":\"61\",\"type\":\"177\",\"user\":\"180\",\"files\":\"197\",\"channel\":\"179\",\"subtype\":\"178\"},\"2026-06-22T11:59:55.649455+00:00\",\"pending\",{\"mimeType\":\"185\",\"fileType\":\"198\",\"fileExtension\":\"199\",\"data\":\"200\",\"directory\":\"184\",\"fileName\":\"199\",\"id\":\"201\",\"fileSize\":\"202\",\"bytes\":18035},{\"role\":\"140\",\"content\":\"141\"},{\"role\":\"142\",\"content\":\"203\"},\"data:image/png;base64,filesystem-v2\",{\"id\":\"183\",\"mimetype\":\"185\",\"url_private\":\"184\",\"url_private_download\":\"184\"},[\"204\"],[\"205\"],\"image\",\"png\",\"filesystem-v2\",\"filesystem-v2:workflows/c2W3ZYwZj6LsdKwQ/executions/28/binary_data/79baf23c-6c81-4e63-8fd9-207019467709\",\"18 kB\",[\"206\",\"207\"],{\"id\":\"183\",\"mimetype\":\"185\",\"url_private\":\"184\",\"url_private_download\":\"184\"},{\"id\":\"183\",\"mimetype\":\"185\",\"url_private\":\"184\",\"url_private_download\":\"184\"},{\"type\":\"173\",\"text\":\"174\"},{\"type\":\"175\",\"image_url\":\"208\"},{\"url\":\"194\"}]","workflowData":{"id":"c2W3ZYwZj6LsdKwQ","name":"IRBAS WhatsApp Ingestion","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"whatsapp-incoming","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}},"id":"webhook-post","name":"WhatsApp Incoming","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,300],"webhookId":"whatsapp-incoming"},{"parameters":{"multipleMethods":false,"httpMethod":"GET","path":"whatsapp-incoming","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"id":"webhook-get","name":"WhatsApp Verify","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,640],"webhookId":"whatsapp-incoming"},{"parameters":{"generalNotice":"","respondWith":"text","webhookNotice":"","responseBody":"={{ $json.query['hub.challenge'] }}","contentTypeNotice":"","options":{}},"id":"verify-respond","name":"Verify Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[540,640]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Unified normalizer for BOTH triggers:\n//  - WhatsApp Cloud API webhook (and the mock scripts)\n//  - Slack (n8n Slack Trigger / Slack Events API)\n// Both triggers connect into this node; downstream stays unchanged.\nconst incoming = $input.first().json;\n\n// Unwrap the webhook wrapper (.body) and the mock double-wrap (.body.body).\nconst reqBody = (incoming && incoming.body) ? incoming.body : incoming;\nconst root = (reqBody && reqBody.body) ? reqBody.body : reqBody;\n\n// --- detect source shape ---\nconst isWhatsApp = !!(root && root.entry);\nconst slackEvent = (root && root.event) ? root.event\n                 : ((root && (root.type === 'message' || root.channel) && root.text !== undefined) ? root : null);\nconst isSlack = !isWhatsApp && !!slackEvent;\n\nlet sender_phone = '';\nlet group_id = '';\nlet message_text = '';\nlet media_id = '';\nlet media_url = '';   // downloadable URL (Slack url_private) — drives the image-proof path\nlet media_mime = '';\n\nif (isSlack) {\n  // Slack: channel stands in for the WhatsApp group; user id for the sender.\n  message_text = slackEvent.text || '';\n  group_id = slackEvent.channel || '';\n  sender_phone = slackEvent.user || slackEvent.bot_id || '';\n  const file = (slackEvent.files && slackEvent.files[0]) ? slackEvent.files[0] : null;\n  if (file) {\n    media_id = file.id || '';\n    media_mime = file.mimetype || '';\n    // Only treat IMAGES as proof to read (skip pdfs/other in this phase).\n    if (media_mime.indexOf('image/') === 0) {\n      media_url = file.url_private_download || file.url_private || '';\n    }\n  }\n} else {\n  // WhatsApp: enforce ?token only when the inbound webhook supplied a query string.\n  const expected = $env.WHATSAPP_VERIFY_TOKEN;\n  const provided = (incoming && incoming.query) ? incoming.query.token : undefined;\n  if (expected && String(expected).length > 0 && incoming && incoming.query && provided !== expected) {\n    throw new Error('Unauthorized: invalid or missing ?token query parameter');\n  }\n  const entry  = root && root.entry ? root.entry[0] : undefined;\n  const change = entry && entry.changes ? entry.changes[0] : undefined;\n  const value  = change ? change.value : undefined;\n  const msg    = value && value.messages ? value.messages[0] : undefined;\n  message_text = (msg && msg.text && msg.text.body) ? msg.text.body : '';\n  group_id = value && value.metadata ? value.metadata.display_phone_number : '';\n  sender_phone = msg && msg.from ? msg.from : '';\n  media_id = (msg && msg.image && msg.image.id) ? msg.image.id\n           : (msg && msg.document && msg.document.id) ? msg.document.id : '';\n}\n\nreturn [{\n  json: {\n    source: isSlack ? 'slack' : 'whatsapp',\n    sender_phone,\n    group_id,\n    message_text,\n    media_id,\n    media_url,\n    media_mime,\n    raw_payload_obj: reqBody || {},\n  },\n}];","notice":""},"id":"extract-fields","name":"Extract Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,300]},{"parameters":{"authentication":"accessToken","notice":"","trigger":["message"],"watchWorkspace":true,"options":{}},"id":"slack-trigger","name":"Slack Incoming","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[260,460],"webhookId":"slack-incoming","credentials":{"slackApi":{"id":"YPPaza92RIoTxuLO","name":"IRBAS Slack"}},"disabled":false},{"parameters":{"curlImport":"","method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  raw_payload: $node['Extract Fields'].json.raw_payload_obj,\n  sender_phone: $node['Extract Fields'].json.sender_phone,\n  group_id: $node['Extract Fields'].json.group_id,\n  message_text: $node['Extract Fields'].json.message_text,\n  media_url: $node['Extract Fields'].json.media_id || null,\n  processing_status: 'pending'\n}) }}","options":{},"infoMessage":""},"id":"log-raw","name":"Log Raw Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,300]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const r = $input.first().json;\nconst row = Array.isArray(r) ? r[0] : (r && Array.isArray(r.data) ? r.data[0] : r);\nreturn [{ json: { whatsapp_message_id: row && row.id ? row.id : null } }];","notice":""},"id":"capture-id","name":"Capture Message Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const text = $node['Extract Fields'].json.message_text || '';\nconst hasImage = ($node['Extract Fields'].json.media_id || '') !== '';\n\nconst system = \"You are a classifier for messages sent by Pakistani Regional Office accountants in a WhatsApp business group. You must respond with ONLY valid JSON — no explanation, no markdown, no backticks. Just the raw JSON object.\";\n\nconst user = [\n  'Classify the following message into exactly one category and extract key fields.',\n  '',\n  'Message: \"' + text + '\"',\n  'Has image attached: ' + hasImage,\n  '',\n  'Respond with ONLY this JSON structure:',\n  '{',\n  '  \"classification\": \"payment_proof\" | \"expense_proof\" | \"unrecognised\",',\n  '  \"amount_pkr\": <number or null>,',\n  '  \"payment_method\": \"bank_transfer\" | \"cash_deposit\" | \"unknown\" | null,',\n  '  \"deposit_slip_ref\": \"<string or null>\",',\n  '  \"description\": \"<one line summary in English>\"',\n  '}',\n  '',\n  'Classification rules:',\n  '- payment_proof: message mentions payment, transfer, deposit, amount sent to IRBAS account',\n  '- expense_proof: message mentions expense, repair, purchase, bill, petrol, utility paid by the RO',\n  '- unrecognised: anything else (greetings, announcements, questions)',\n  '',\n  'Amount extraction rules:',\n  '- Pakistani formats: 450,000 or 4.5 lac or 4.5 lakh or 450000 are all valid numbers',\n  '- Extract deposit slip or reference numbers if mentioned (e.g. slip number 2024-1847)',\n  '- If no amount visible, return null'\n].join('\\n');\n\nreturn [{ json: {\n  model: 'llama-3.1-8b-instant',\n  temperature: 0,\n  max_tokens: 300,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: user }\n  ]\n} }];","notice":""},"id":"build-groq","name":"Build Groq Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"has-media","leftValue":"={{ $node['Extract Fields'].json.media_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"has-image","name":"Has Image Proof","type":"n8n-nodes-base.if","typeVersion":2,"position":[1380,300]},{"parameters":{"curlImport":"","method":"GET","url":"={{ $node['Extract Fields'].json.media_url }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.SLACK_BOT_TOKEN }}"}]},"sendBody":false,"options":{"response":{"response":{"fullResponse":false,"neverError":false,"responseFormat":"file","outputPropertyName":"data"}}},"infoMessage":""},"id":"download-file","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,60]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Base64-encode the downloaded image and build a Groq vision request.\nconst item = $input.first();\nconst bin = (item.binary && item.binary.data) ? item.binary.data : null;\nconst b64 = bin ? bin.data : '';\nlet mime = (bin && bin.mimeType) ? bin.mimeType : ($node['Extract Fields'].json.media_mime || 'image/jpeg');\nif (!mime || mime.indexOf('image/') !== 0) mime = 'image/jpeg';\nconst caption = $node['Extract Fields'].json.message_text || '';\n\nconst system = \"You are a classifier for payment/expense PROOF images sent by Pakistani Regional Office accountants. Respond with ONLY valid JSON — no explanation, no markdown, no backticks. Just the raw JSON object.\";\n\nconst user = [\n  'The image is a payment/expense proof: a bank deposit slip, a bank transfer screenshot, or a cheque.',\n  caption ? ('Caption sent with the image: \"' + caption + '\"') : 'No caption was sent with the image.',\n  '',\n  'Read the image carefully, then classify it and extract key fields. Respond with ONLY this JSON structure:',\n  '{',\n  '  \"classification\": \"payment_proof\" | \"expense_proof\" | \"unrecognised\",',\n  '  \"amount_pkr\": <number or null>,',\n  '  \"payment_method\": \"bank_transfer\" | \"cash_deposit\" | \"unknown\" | null,',\n  '  \"deposit_slip_ref\": \"<string or null>\",',\n  '  \"description\": \"<one line summary in English>\"',\n  '}',\n  '',\n  'Rules:',\n  '- payment_proof: a deposit slip, transfer screenshot, or cheque showing money paid to IRBAS.',\n  '- expense_proof: a receipt/bill for something the RO paid for (repair, fuel, utility, purchase).',\n  '- unrecognised: anything that is not a payment or expense proof.',\n  '- amount_pkr: the main transaction amount as a plain number (450000 not \"450,000\"); null if not visible.',\n  '- deposit_slip_ref: the slip/reference/transaction number printed on the proof; null if none.'\n].join('\\n');\n\nreturn [{ json: {\n  model: 'meta-llama/llama-4-scout-17b-16e-instruct',\n  temperature: 0,\n  max_tokens: 400,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: [\n      { type: 'text', text: user },\n      { type: 'image_url', image_url: { url: 'data:' + mime + ';base64,' + b64 } }\n    ] }\n  ]\n} }];","notice":""},"id":"build-vision","name":"Build Vision Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,60]},{"parameters":{"curlImport":"","method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GROQ_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{},"infoMessage":""},"id":"groq-vision","name":"Groq Vision","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,60]},{"parameters":{"curlImport":"","method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GROQ_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{},"infoMessage":""},"id":"groq","name":"Groq Classification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,300]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const resp = $input.first().json;\nlet content = '';\ntry { content = resp && resp.choices && resp.choices[0] && resp.choices[0].message ? resp.choices[0].message.content : ''; }\ncatch (e) { content = ''; }\n\nlet parsed;\ntry {\n  const cleaned = String(content).replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  console.log('Groq classification parse FAILED, defaulting to unrecognised. Raw content:', content);\n  parsed = { classification: 'unrecognised', amount_pkr: null, payment_method: null, deposit_slip_ref: null, description: 'Could not parse AI response' };\n}\n\nconst allowed = ['payment_proof', 'expense_proof', 'unrecognised'];\nif (!allowed.includes(parsed.classification)) parsed.classification = 'unrecognised';\n\nlet amt = parsed.amount_pkr;\nif (amt === undefined) amt = null;\nif (typeof amt === 'string') { const n = parseFloat(amt.replace(/,/g, '')); amt = isNaN(n) ? null : n; }\n\nconsole.log('Classification:', parsed.classification, '| amount:', amt, '| slip:', parsed.deposit_slip_ref);\n\nreturn [{ json: {\n  classification: parsed.classification,\n  amount_pkr: amt,\n  payment_method: parsed.payment_method != null ? parsed.payment_method : null,\n  deposit_slip_ref: parsed.deposit_slip_ref != null ? parsed.deposit_slip_ref : null,\n  description: parsed.description != null ? parsed.description : ''\n} }];","notice":""},"id":"parse-classification","name":"Parse Classification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,300]},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-payment_proof","leftValue":"={{ $json.classification }}","rightValue":"payment_proof","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"payment_proof"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-expense_proof","leftValue":"={{ $json.classification }}","rightValue":"expense_proof","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expense_proof"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-unrecognised","leftValue":"={{ $json.classification }}","rightValue":"unrecognised","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"unrecognised"}]},"options":{}},"id":"switch","name":"Route by Classification","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2220,300]},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"getAll","returnAll":false,"limit":20,"simple":true,"filters":{"q":"={{ 'from:' + $env.IRBAS_BANK_EMAIL + ' after:' + new Date(Date.now() - 86400000).toISOString().split('T')[0].replace(/-/g,'/') }}"}},"id":"gmail-search","name":"Search Bank Emails","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2500,120],"credentials":{"gmailOAuth2":{"id":"irbas-gmail-cred","name":"IRBAS Gmail"}},"onError":"continueRegularOutput","webhookId":"84ce559e-0e83-47b8-834d-39bbd4e06993"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const claimedAmount = $node['Parse Classification'].json.amount_pkr;\nconst claimedSlip = $node['Parse Classification'].json.deposit_slip_ref;\nconst emails = $input.all().map(i => i.json);\nconsole.log('Matching against', emails.length, 'candidate email item(s). claimedAmount=', claimedAmount, 'claimedSlip=', claimedSlip);\n\nfunction extractAmount(text) {\n  if (!text) return null;\n  const patterns = [\n    /Amount:?\\s*PKR\\s*([0-9,]+)/i,   // UBL style\n    /PKR\\s*([0-9,]+)/i,               // HBL style\n    /Rs\\.?\\s*([0-9,]+)/i,            // MCB style\n    /([0-9]{3,},[0-9]{3})/             // Generic 450,000\n  ];\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m) { const n = parseFloat(m[1].replace(/,/g, '')); if (!isNaN(n)) return n; }\n  }\n  return null;\n}\nfunction extractSlip(text) {\n  if (!text) return null;\n  const m = text.match(/(?:slip|ref(?:erence)?|trx|txn)[^0-9]{0,10}([0-9][0-9\\-]{3,})/i);\n  return m ? m[1] : null;\n}\n\nlet result = { matched: false, bank_amount: null, bank_timestamp: null, match_confidence: 'low' };\n\nfor (const e of emails) {\n  const text = e.text || e.snippet || e.textHtml || e.textPlain || '';\n  if (!text) { continue; } // skip passthrough/non-email items\n  const amt = extractAmount(text);\n  const slip = extractSlip(text);\n  const ts = e.date || e.internalDate || null;\n  console.log('  candidate -> amount:', amt, 'slip:', slip);\n\n  const slipMatch = claimedSlip && slip && String(slip) === String(claimedSlip);\n  const amtMatch = (claimedAmount != null) && (amt != null) && Math.abs(amt - Number(claimedAmount)) <= 500;\n\n  if (slipMatch || amtMatch) {\n    let iso = null;\n    if (ts) { const d = new Date(isNaN(ts) ? ts : Number(ts)); if (!isNaN(d.getTime())) iso = d.toISOString(); }\n    result = {\n      matched: true,\n      bank_amount: amt,\n      bank_timestamp: iso,\n      match_confidence: (slipMatch && amtMatch) ? 'high' : (slipMatch ? 'high' : 'low')\n    };\n    break;\n  }\n}\nconsole.log('Bank match result:', JSON.stringify(result));\nreturn [{ json: result }];","notice":""},"id":"match-email","name":"Match Email to Payment","type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,120]},{"parameters":{"curlImport":"","method":"GET","url":"={{ $env.SUPABASE_URL }}/rest/v1/regional_offices?or=(whatsapp_group_id.eq.{{ $node['Extract Fields'].json.group_id }},slack_channel_id.eq.{{ $node['Extract Fields'].json.group_id }})&select=id,name","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":false,"options":{},"infoMessage":""},"id":"find-ro-a","name":"Find RO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3060,120]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ro = $node['Find RO'].json;\nconst roId = Array.isArray(ro) ? (ro[0] && ro[0].id) : (ro && ro.id);\nconst m = $node['Match Email to Payment'].json;\nconst c = $node['Parse Classification'].json;\nreturn [{ json: {\n  whatsapp_message_id: $node['Capture Message Id'].json.whatsapp_message_id,\n  ro_id: roId || null,\n  amount_pkr: c.amount_pkr,\n  payment_method: c.payment_method,\n  deposit_slip_ref: c.deposit_slip_ref,\n  bank_email_match: m.matched,\n  bank_email_amount: m.bank_amount,\n  bank_email_timestamp: m.bank_timestamp,\n  status: 'pending'\n} }];","notice":""},"id":"build-payment-body","name":"Build Payment Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[3340,120]},{"parameters":{"curlImport":"","method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/payment_requests","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{},"infoMessage":""},"id":"create-payment","name":"Create Payment Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3620,120]},{"parameters":{"curlImport":"","method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'payment_proof', processing_status: 'processed' }) }}","options":{},"infoMessage":""},"id":"mark-payment","name":"Mark Message Processed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3900,120]},{"parameters":{"curlImport":"","method":"GET","url":"={{ $env.SUPABASE_URL }}/rest/v1/regional_offices?or=(whatsapp_group_id.eq.{{ $node['Extract Fields'].json.group_id }},slack_channel_id.eq.{{ $node['Extract Fields'].json.group_id }})&select=id,name","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":false,"options":{},"infoMessage":""},"id":"find-ro-b","name":"Find RO B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,460]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ro = $node['Find RO B'].json;\nconst roId = Array.isArray(ro) ? (ro[0] && ro[0].id) : (ro && ro.id);\nconst c = $node['Parse Classification'].json;\nreturn [{ json: {\n  whatsapp_message_id: $node['Capture Message Id'].json.whatsapp_message_id,\n  ro_id: roId || null,\n  description: c.description,\n  amount_pkr: c.amount_pkr,\n  media_url: $node['Extract Fields'].json.media_url || $node['Extract Fields'].json.media_id || null,\n  status: 'pending'\n} }];","notice":""},"id":"build-expense-body","name":"Build Expense Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,460]},{"parameters":{"curlImport":"","method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/expense_requests","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{},"infoMessage":""},"id":"create-expense","name":"Create Expense Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3060,460]},{"parameters":{"curlImport":"","method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'expense_proof', processing_status: 'processed' }) }}","options":{},"infoMessage":""},"id":"mark-expense","name":"Mark Message Processed B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3340,460]},{"parameters":{"curlImport":"","method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'unrecognised', processing_status: 'processed' }) }}","options":{},"infoMessage":""},"id":"mark-unknown","name":"Mark Unrecognised","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,640]}],"connections":{"WhatsApp Verify":{"main":[[{"node":"Verify Challenge","type":"main","index":0}]]},"WhatsApp Incoming":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Slack Incoming":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Extract Fields":{"main":[[{"node":"Log Raw Message","type":"main","index":0}]]},"Log Raw Message":{"main":[[{"node":"Capture Message Id","type":"main","index":0}]]},"Capture Message Id":{"main":[[{"node":"Has Image Proof","type":"main","index":0}]]},"Has Image Proof":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"Build Groq Body","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Build Vision Body","type":"main","index":0}]]},"Build Vision Body":{"main":[[{"node":"Groq Vision","type":"main","index":0}]]},"Groq Vision":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Build Groq Body":{"main":[[{"node":"Groq Classification","type":"main","index":0}]]},"Groq Classification":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Parse Classification":{"main":[[{"node":"Route by Classification","type":"main","index":0}]]},"Route by Classification":{"main":[[{"node":"Search Bank Emails","type":"main","index":0}],[{"node":"Find RO B","type":"main","index":0}],[{"node":"Mark Unrecognised","type":"main","index":0}]]},"Search Bank Emails":{"main":[[{"node":"Match Email to Payment","type":"main","index":0}]]},"Match Email to Payment":{"main":[[{"node":"Find RO","type":"main","index":0}]]},"Find RO":{"main":[[{"node":"Build Payment Body","type":"main","index":0}]]},"Build Payment Body":{"main":[[{"node":"Create Payment Request","type":"main","index":0}]]},"Create Payment Request":{"main":[[{"node":"Mark Message Processed","type":"main","index":0}]]},"Find RO B":{"main":[[{"node":"Build Expense Body","type":"main","index":0}]]},"Build Expense Body":{"main":[[{"node":"Create Expense Request","type":"main","index":0}]]},"Create Expense Request":{"main":[[{"node":"Mark Message Processed B","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"}},"workflowVersionId":"c6d7d144-1518-4062-a393-2026b4381e56","customData":{}}}