orbit-n8n/irbas-n8n-poc/.wf_update.json
{"name":"IRBAS WhatsApp Ingestion","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-incoming","responseMode":"onReceived","options":{}},"id":"webhook-post","name":"WhatsApp Incoming","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,300],"webhookId":"whatsapp-incoming"},{"parameters":{"httpMethod":"GET","path":"whatsapp-incoming","responseMode":"responseNode","options":{}},"id":"webhook-get","name":"WhatsApp Verify","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,640],"webhookId":"whatsapp-incoming"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"verify-respond","name":"Verify Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[540,640]},{"parameters":{"jsCode":"// Unified normalizer for BOTH triggers:\n//  - WhatsApp Cloud API webhook (and the mock scripts)\n//  - Slack (n8n Slack Trigger / Slack Events API)\n// Both triggers connect into this node; downstream stays unchanged.\nconst incoming = $input.first().json;\n\n// Unwrap the webhook wrapper (.body) and the mock double-wrap (.body.body).\nconst reqBody = (incoming && incoming.body) ? incoming.body : incoming;\nconst root = (reqBody && reqBody.body) ? reqBody.body : reqBody;\n\n// --- detect source shape ---\nconst isWhatsApp = !!(root && root.entry);\nconst slackEvent = (root && root.event) ? root.event\n                 : ((root && (root.type === 'message' || root.channel) && root.text !== undefined) ? root : null);\nconst isSlack = !isWhatsApp && !!slackEvent;\n\nlet sender_phone = '';\nlet group_id = '';\nlet message_text = '';\nlet media_id = '';\nlet media_url = '';   // downloadable URL (Slack url_private) — drives the image-proof path\nlet media_mime = '';\n\nif (isSlack) {\n  // Slack: channel stands in for the WhatsApp group; user id for the sender.\n  message_text = slackEvent.text || '';\n  group_id = slackEvent.channel || '';\n  sender_phone = slackEvent.user || slackEvent.bot_id || '';\n  const file = (slackEvent.files && slackEvent.files[0]) ? slackEvent.files[0] : null;\n  if (file) {\n    media_id = file.id || '';\n    media_mime = file.mimetype || '';\n    // Only treat IMAGES as proof to read (skip pdfs/other in this phase).\n    if (media_mime.indexOf('image/') === 0) {\n      media_url = file.url_private_download || file.url_private || '';\n    }\n  }\n} else {\n  // WhatsApp: enforce ?token only when the inbound webhook supplied a query string.\n  const expected = $env.WHATSAPP_VERIFY_TOKEN;\n  const provided = (incoming && incoming.query) ? incoming.query.token : undefined;\n  if (expected && String(expected).length > 0 && incoming && incoming.query && provided !== expected) {\n    throw new Error('Unauthorized: invalid or missing ?token query parameter');\n  }\n  const entry  = root && root.entry ? root.entry[0] : undefined;\n  const change = entry && entry.changes ? entry.changes[0] : undefined;\n  const value  = change ? change.value : undefined;\n  const msg    = value && value.messages ? value.messages[0] : undefined;\n  message_text = (msg && msg.text && msg.text.body) ? msg.text.body : '';\n  group_id = value && value.metadata ? value.metadata.display_phone_number : '';\n  sender_phone = msg && msg.from ? msg.from : '';\n  media_id = (msg && msg.image && msg.image.id) ? msg.image.id\n           : (msg && msg.document && msg.document.id) ? msg.document.id : '';\n}\n\nreturn [{\n  json: {\n    source: isSlack ? 'slack' : 'whatsapp',\n    sender_phone,\n    group_id,\n    message_text,\n    media_id,\n    media_url,\n    media_mime,\n    raw_payload_obj: reqBody || {},\n  },\n}];"},"id":"extract-fields","name":"Extract Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,300]},{"parameters":{"trigger":["message"],"watchWorkspace":true,"options":{}},"id":"slack-trigger","name":"Slack Incoming","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[260,460],"webhookId":"slack-incoming","credentials":{"slackApi":{"id":"YPPaza92RIoTxuLO","name":"IRBAS Slack"}},"disabled":false},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  raw_payload: $node['Extract Fields'].json.raw_payload_obj,\n  sender_phone: $node['Extract Fields'].json.sender_phone,\n  group_id: $node['Extract Fields'].json.group_id,\n  message_text: $node['Extract Fields'].json.message_text,\n  media_url: $node['Extract Fields'].json.media_id || null,\n  processing_status: 'pending'\n}) }}","options":{}},"id":"log-raw","name":"Log Raw Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,300]},{"parameters":{"jsCode":"const r = $input.first().json;\nconst row = Array.isArray(r) ? r[0] : (r && Array.isArray(r.data) ? r.data[0] : r);\nreturn [{ json: { whatsapp_message_id: row && row.id ? row.id : null } }];"},"id":"capture-id","name":"Capture Message Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"jsCode":"const text = $node['Extract Fields'].json.message_text || '';\nconst hasImage = ($node['Extract Fields'].json.media_id || '') !== '';\n\nconst system = \"You are a classifier for messages sent by Pakistani Regional Office accountants in a WhatsApp business group. You must respond with ONLY valid JSON — no explanation, no markdown, no backticks. Just the raw JSON object.\";\n\nconst user = [\n  'Classify the following message into exactly one category and extract key fields.',\n  '',\n  'Message: \"' + text + '\"',\n  'Has image attached: ' + hasImage,\n  '',\n  'Respond with ONLY this JSON structure:',\n  '{',\n  '  \"classification\": \"payment_proof\" | \"expense_proof\" | \"unrecognised\",',\n  '  \"amount_pkr\": <number or null>,',\n  '  \"payment_method\": \"bank_transfer\" | \"cash_deposit\" | \"unknown\" | null,',\n  '  \"deposit_slip_ref\": \"<string or null>\",',\n  '  \"description\": \"<one line summary in English>\"',\n  '}',\n  '',\n  'Classification rules:',\n  '- payment_proof: message mentions payment, transfer, deposit, amount sent to IRBAS account',\n  '- expense_proof: message mentions expense, repair, purchase, bill, petrol, utility paid by the RO',\n  '- unrecognised: anything else (greetings, announcements, questions)',\n  '',\n  'Amount extraction rules:',\n  '- Pakistani formats: 450,000 or 4.5 lac or 4.5 lakh or 450000 are all valid numbers',\n  '- Extract deposit slip or reference numbers if mentioned (e.g. slip number 2024-1847)',\n  '- If no amount visible, return null'\n].join('\\n');\n\nreturn [{ json: {\n  model: 'llama-3.1-8b-instant',\n  temperature: 0,\n  max_tokens: 300,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: user }\n  ]\n} }];"},"id":"build-groq","name":"Build Groq Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"has-media","leftValue":"={{ $node['Extract Fields'].json.media_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"has-image","name":"Has Image Proof","type":"n8n-nodes-base.if","typeVersion":2,"position":[1380,300]},{"parameters":{"method":"GET","url":"={{ $node['Extract Fields'].json.media_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.SLACK_BOT_TOKEN }}"}]},"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}},"id":"download-file","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,60]},{"parameters":{"jsCode":"// Base64-encode the downloaded image and build a Groq vision request.\n// Use the binary-data helper so it works whether n8n stored the bytes in\n// memory or on the filesystem (binary.data.data is a pointer in fs mode).\nconst item = $input.first();\nlet mime = $node['Extract Fields'].json.media_mime || 'image/jpeg';\nlet b64 = '';\nif (item.binary && item.binary.data) {\n  if (item.binary.data.mimeType) mime = item.binary.data.mimeType;\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  b64 = buf.toString('base64');\n}\nif (!mime || mime.indexOf('image/') !== 0) mime = 'image/jpeg';\nconst caption = $node['Extract Fields'].json.message_text || '';\n\nconst system = \"You are a classifier for payment/expense PROOF images sent by Pakistani Regional Office accountants. Respond with ONLY valid JSON — no explanation, no markdown, no backticks. Just the raw JSON object.\";\n\nconst user = [\n  'This image is a financial document sent by an accountant — usually a bank deposit slip, a bank transfer/payment screenshot, a cheque, or a purchase/transaction receipt.',\n  caption ? ('Caption sent with the image: \"' + caption + '\"') : 'No caption was sent with the image.',\n  '',\n  'Read ALL text in the image, then extract the fields and classify. ALWAYS extract whatever is visible — do not return nulls if the value is present in the image. Respond with ONLY this JSON structure:',\n  '{',\n  '  \"classification\": \"payment_proof\" | \"expense_proof\" | \"unrecognised\",',\n  '  \"amount_pkr\": <number or null>,',\n  '  \"payment_method\": \"bank_transfer\" | \"cash_deposit\" | \"card\" | \"unknown\" | null,',\n  '  \"deposit_slip_ref\": \"<transaction id / reference / slip number, or null>\",',\n  '  \"description\": \"<one line: merchant or purpose + key details>\"',\n  '}',\n  '',\n  'Classification (be generous — extract first, classify second):',\n  '- payment_proof: a deposit, bank transfer, or payment showing money sent or received.',\n  '- expense_proof: a purchase, card transaction, bill, or any receipt for money spent.',\n  '- unrecognised: ONLY when the image contains no financial transaction at all (e.g. a photo, a meme, plain text with no amounts).',\n  '',\n  'Amount: use the MAIN total. If a PKR / Rs amount is shown, use that; otherwise use the largest amount on the receipt. Strip commas and currency symbols: \"Rs. 1,317.55\" -> 1317.55, \"450,000\" -> 450000.',\n  'deposit_slip_ref: capture any Transaction ID / reference / slip / cheque number printed on it (e.g. \"027400\").',\n  'description: include the merchant/purpose and a couple of identifying details (card last 4, date) when present.'\n].join('\\n');\n\nreturn [{ json: {\n  model: 'gpt-4o',\n  temperature: 0,\n  max_tokens: 400,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: [\n      { type: 'text', text: user },\n      { type: 'image_url', image_url: { url: 'data:' + mime + ';base64,' + b64 } }\n    ] }\n  ]\n} }];"},"id":"build-vision","name":"Build Vision Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,60]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"openai-vision","name":"OpenAI Vision","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,60]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GROQ_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"groq","name":"Groq Classification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,300]},{"parameters":{"jsCode":"const resp = $input.first().json;\nlet content = '';\ntry { content = resp && resp.choices && resp.choices[0] && resp.choices[0].message ? resp.choices[0].message.content : ''; }\ncatch (e) { content = ''; }\n\nlet parsed;\ntry {\n  const cleaned = String(content).replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  console.log('Groq classification parse FAILED, defaulting to unrecognised. Raw content:', content);\n  parsed = { classification: 'unrecognised', amount_pkr: null, payment_method: null, deposit_slip_ref: null, description: 'Could not parse AI response' };\n}\n\nconst allowed = ['payment_proof', 'expense_proof', 'unrecognised'];\nif (!allowed.includes(parsed.classification)) parsed.classification = 'unrecognised';\n\nlet amt = parsed.amount_pkr;\nif (amt === undefined) amt = null;\nif (typeof amt === 'string') { const n = parseFloat(amt.replace(/,/g, '')); amt = isNaN(n) ? null : n; }\n\nconsole.log('Classification:', parsed.classification, '| amount:', amt, '| slip:', parsed.deposit_slip_ref);\n\nreturn [{ json: {\n  classification: parsed.classification,\n  amount_pkr: amt,\n  payment_method: parsed.payment_method != null ? parsed.payment_method : null,\n  deposit_slip_ref: parsed.deposit_slip_ref != null ? parsed.deposit_slip_ref : null,\n  description: parsed.description != null ? parsed.description : ''\n} }];"},"id":"parse-classification","name":"Parse Classification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-payment_proof","leftValue":"={{ $json.classification }}","rightValue":"payment_proof","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"payment_proof"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-expense_proof","leftValue":"={{ $json.classification }}","rightValue":"expense_proof","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expense_proof"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-unrecognised","leftValue":"={{ $json.classification }}","rightValue":"unrecognised","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"unrecognised"}]},"options":{}},"id":"switch","name":"Route by Classification","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2220,300]},{"parameters":{"operation":"getAll","returnAll":false,"limit":20,"simple":true,"filters":{"q":"={{ 'from:' + $env.IRBAS_BANK_EMAIL + ' after:' + new Date(Date.now() - 86400000).toISOString().split('T')[0].replace(/-/g,'/') }}"},"options":{}},"id":"gmail-search","name":"Search Bank Emails","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2500,120],"credentials":{"gmailOAuth2":{"id":"irbas-gmail-cred","name":"IRBAS Gmail"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const claimedAmount = $node['Parse Classification'].json.amount_pkr;\nconst claimedSlip = $node['Parse Classification'].json.deposit_slip_ref;\nconst emails = $input.all().map(i => i.json);\nconsole.log('Matching against', emails.length, 'candidate email item(s). claimedAmount=', claimedAmount, 'claimedSlip=', claimedSlip);\n\nfunction extractAmount(text) {\n  if (!text) return null;\n  const patterns = [\n    /Amount:?\\s*PKR\\s*([0-9,]+)/i,   // UBL style\n    /PKR\\s*([0-9,]+)/i,               // HBL style\n    /Rs\\.?\\s*([0-9,]+)/i,            // MCB style\n    /([0-9]{3,},[0-9]{3})/             // Generic 450,000\n  ];\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m) { const n = parseFloat(m[1].replace(/,/g, '')); if (!isNaN(n)) return n; }\n  }\n  return null;\n}\nfunction extractSlip(text) {\n  if (!text) return null;\n  const m = text.match(/(?:slip|ref(?:erence)?|trx|txn)[^0-9]{0,10}([0-9][0-9\\-]{3,})/i);\n  return m ? m[1] : null;\n}\n\nlet result = { matched: false, bank_amount: null, bank_timestamp: null, match_confidence: 'low' };\n\nfor (const e of emails) {\n  const text = e.text || e.snippet || e.textHtml || e.textPlain || '';\n  if (!text) { continue; } // skip passthrough/non-email items\n  const amt = extractAmount(text);\n  const slip = extractSlip(text);\n  const ts = e.date || e.internalDate || null;\n  console.log('  candidate -> amount:', amt, 'slip:', slip);\n\n  const slipMatch = claimedSlip && slip && String(slip) === String(claimedSlip);\n  const amtMatch = (claimedAmount != null) && (amt != null) && Math.abs(amt - Number(claimedAmount)) <= 500;\n\n  if (slipMatch || amtMatch) {\n    let iso = null;\n    if (ts) { const d = new Date(isNaN(ts) ? ts : Number(ts)); if (!isNaN(d.getTime())) iso = d.toISOString(); }\n    result = {\n      matched: true,\n      bank_amount: amt,\n      bank_timestamp: iso,\n      match_confidence: (slipMatch && amtMatch) ? 'high' : (slipMatch ? 'high' : 'low')\n    };\n    break;\n  }\n}\nconsole.log('Bank match result:', JSON.stringify(result));\nreturn [{ json: result }];"},"id":"match-email","name":"Match Email to Payment","type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,120]},{"parameters":{"method":"GET","url":"={{ $env.SUPABASE_URL }}/rest/v1/regional_offices?or=(whatsapp_group_id.eq.{{ $node['Extract Fields'].json.group_id }},slack_channel_id.eq.{{ $node['Extract Fields'].json.group_id }})&select=id,name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"find-ro-a","name":"Find RO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3060,120]},{"parameters":{"jsCode":"const ro = $node['Find RO'].json;\nconst roId = Array.isArray(ro) ? (ro[0] && ro[0].id) : (ro && ro.id);\nconst m = $node['Match Email to Payment'].json;\nconst c = $node['Parse Classification'].json;\nreturn [{ json: {\n  whatsapp_message_id: $node['Capture Message Id'].json.whatsapp_message_id,\n  ro_id: roId || null,\n  amount_pkr: c.amount_pkr,\n  payment_method: c.payment_method,\n  deposit_slip_ref: c.deposit_slip_ref,\n  bank_email_match: m.matched,\n  bank_email_amount: m.bank_amount,\n  bank_email_timestamp: m.bank_timestamp,\n  status: 'pending'\n} }];"},"id":"build-payment-body","name":"Build Payment Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[3340,120]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/payment_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"create-payment","name":"Create Payment Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3620,120]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'payment_proof', processing_status: 'processed' }) }}","options":{}},"id":"mark-payment","name":"Mark Message Processed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3900,120]},{"parameters":{"method":"GET","url":"={{ $env.SUPABASE_URL }}/rest/v1/regional_offices?or=(whatsapp_group_id.eq.{{ $node['Extract Fields'].json.group_id }},slack_channel_id.eq.{{ $node['Extract Fields'].json.group_id }})&select=id,name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"find-ro-b","name":"Find RO B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,460]},{"parameters":{"jsCode":"const ro = $node['Find RO B'].json;\nconst roId = Array.isArray(ro) ? (ro[0] && ro[0].id) : (ro && ro.id);\nconst c = $node['Parse Classification'].json;\nreturn [{ json: {\n  whatsapp_message_id: $node['Capture Message Id'].json.whatsapp_message_id,\n  ro_id: roId || null,\n  description: c.description,\n  amount_pkr: c.amount_pkr,\n  media_url: $node['Extract Fields'].json.media_url || $node['Extract Fields'].json.media_id || null,\n  status: 'pending'\n} }];"},"id":"build-expense-body","name":"Build Expense Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,460]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/expense_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"create-expense","name":"Create Expense Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3060,460]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'expense_proof', processing_status: 'processed' }) }}","options":{}},"id":"mark-expense","name":"Mark Message Processed B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3340,460]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'unrecognised', processing_status: 'processed' }) }}","options":{}},"id":"mark-unknown","name":"Mark Unrecognised","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,640]}],"connections":{"WhatsApp Verify":{"main":[[{"node":"Verify Challenge","type":"main","index":0}]]},"WhatsApp Incoming":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Slack Incoming":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Extract Fields":{"main":[[{"node":"Log Raw Message","type":"main","index":0}]]},"Log Raw Message":{"main":[[{"node":"Capture Message Id","type":"main","index":0}]]},"Capture Message Id":{"main":[[{"node":"Has Image Proof","type":"main","index":0}]]},"Has Image Proof":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"Build Groq Body","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Build Vision Body","type":"main","index":0}]]},"Build Vision Body":{"main":[[{"node":"OpenAI Vision","type":"main","index":0}]]},"OpenAI Vision":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Build Groq Body":{"main":[[{"node":"Groq Classification","type":"main","index":0}]]},"Groq Classification":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Parse Classification":{"main":[[{"node":"Route by Classification","type":"main","index":0}]]},"Route by Classification":{"main":[[{"node":"Search Bank Emails","type":"main","index":0}],[{"node":"Find RO B","type":"main","index":0}],[{"node":"Mark Unrecognised","type":"main","index":0}]]},"Search Bank Emails":{"main":[[{"node":"Match Email to Payment","type":"main","index":0}]]},"Match Email to Payment":{"main":[[{"node":"Find RO","type":"main","index":0}]]},"Find RO":{"main":[[{"node":"Build Payment Body","type":"main","index":0}]]},"Build Payment Body":{"main":[[{"node":"Create Payment Request","type":"main","index":0}]]},"Create Payment Request":{"main":[[{"node":"Mark Message Processed","type":"main","index":0}]]},"Find RO B":{"main":[[{"node":"Build Expense Body","type":"main","index":0}]]},"Build Expense Body":{"main":[[{"node":"Create Expense Request","type":"main","index":0}]]},"Create Expense Request":{"main":[[{"node":"Mark Message Processed B","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}