orbit-n8n/irbas-n8n-poc/.wf_upd.json
{"data":{"updatedAt":"2026-06-19T04:56:28.031Z","createdAt":"2026-06-18T11:09:36.234Z","id":"c2W3ZYwZj6LsdKwQ","name":"IRBAS WhatsApp Ingestion","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-incoming","responseMode":"onReceived","options":{}},"id":"webhook-post","name":"WhatsApp Incoming","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,300],"webhookId":"whatsapp-incoming"},{"parameters":{"httpMethod":"GET","path":"whatsapp-incoming","responseMode":"responseNode","options":{}},"id":"webhook-get","name":"WhatsApp Verify","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,640],"webhookId":"whatsapp-incoming"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"verify-respond","name":"Verify Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[540,640]},{"parameters":{"jsCode":"// Unified normalizer for BOTH triggers:\n//  - WhatsApp Cloud API webhook (and the mock scripts)\n//  - Slack (n8n Slack Trigger / Slack Events API)\n// Both triggers connect into this node; downstream stays unchanged.\nconst incoming = $input.first().json;\n\n// Unwrap the webhook wrapper (.body) and the mock double-wrap (.body.body).\nconst reqBody = (incoming && incoming.body) ? incoming.body : incoming;\nconst root = (reqBody && reqBody.body) ? reqBody.body : reqBody;\n\n// --- detect source shape ---\nconst isWhatsApp = !!(root && root.entry);\nconst slackEvent = (root && root.event) ? root.event\n                 : ((root && (root.type === 'message' || root.channel) && root.text !== undefined) ? root : null);\nconst isSlack = !isWhatsApp && !!slackEvent;\n\nlet sender_phone = '';\nlet group_id = '';\nlet message_text = '';\nlet media_id = '';\n\nif (isSlack) {\n  // Slack: channel stands in for the WhatsApp group; user id for the sender.\n  message_text = slackEvent.text || '';\n  group_id = slackEvent.channel || '';\n  sender_phone = slackEvent.user || slackEvent.bot_id || '';\n  media_id = (slackEvent.files && slackEvent.files[0] && slackEvent.files[0].id) ? slackEvent.files[0].id : '';\n} else {\n  // WhatsApp: enforce ?token only when the inbound webhook supplied a query string.\n  const expected = $env.WHATSAPP_VERIFY_TOKEN;\n  const provided = (incoming && incoming.query) ? incoming.query.token : undefined;\n  if (expected && String(expected).length > 0 && incoming && incoming.query && provided !== expected) {\n    throw new Error('Unauthorized: invalid or missing ?token query parameter');\n  }\n  const entry  = root && root.entry ? root.entry[0] : undefined;\n  const change = entry && entry.changes ? entry.changes[0] : undefined;\n  const value  = change ? change.value : undefined;\n  const msg    = value && value.messages ? value.messages[0] : undefined;\n  message_text = (msg && msg.text && msg.text.body) ? msg.text.body : '';\n  group_id = value && value.metadata ? value.metadata.display_phone_number : '';\n  sender_phone = msg && msg.from ? msg.from : '';\n  media_id = (msg && msg.image && msg.image.id) ? msg.image.id\n           : (msg && msg.document && msg.document.id) ? msg.document.id : '';\n}\n\nreturn [{\n  json: {\n    source: isSlack ? 'slack' : 'whatsapp',\n    sender_phone,\n    group_id,\n    message_text,\n    media_id,\n    raw_payload_obj: reqBody || {},\n  },\n}];"},"id":"extract-fields","name":"Extract Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,300]},{"parameters":{"trigger":["message"],"watchWorkspace":true,"options":{}},"id":"slack-trigger","name":"Slack Incoming","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[260,460],"webhookId":"slack-incoming","credentials":{"slackApi":{"id":"YPPaza92RIoTxuLO","name":"IRBAS Slack"}},"disabled":false},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  raw_payload: $node['Extract Fields'].json.raw_payload_obj,\n  sender_phone: $node['Extract Fields'].json.sender_phone,\n  group_id: $node['Extract Fields'].json.group_id,\n  message_text: $node['Extract Fields'].json.message_text,\n  media_url: $node['Extract Fields'].json.media_id || null,\n  processing_status: 'pending'\n}) }}","options":{}},"id":"log-raw","name":"Log Raw Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,300]},{"parameters":{"jsCode":"const r = $input.first().json;\nconst row = Array.isArray(r) ? r[0] : (r && Array.isArray(r.data) ? r.data[0] : r);\nreturn [{ json: { whatsapp_message_id: row && row.id ? row.id : null } }];"},"id":"capture-id","name":"Capture Message Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"jsCode":"const text = $node['Extract Fields'].json.message_text || '';\nconst hasImage = ($node['Extract Fields'].json.media_id || '') !== '';\n\nconst system = \"You are a classifier for messages sent by Pakistani Regional Office accountants in a WhatsApp business group. You must respond with ONLY valid JSON — no explanation, no markdown, no backticks. Just the raw JSON object.\";\n\nconst user = [\n  'Classify the following message into exactly one category and extract key fields.',\n  '',\n  'Message: \"' + text + '\"',\n  'Has image attached: ' + hasImage,\n  '',\n  'Respond with ONLY this JSON structure:',\n  '{',\n  '  \"classification\": \"payment_proof\" | \"expense_proof\" | \"unrecognised\",',\n  '  \"amount_pkr\": <number or null>,',\n  '  \"payment_method\": \"bank_transfer\" | \"cash_deposit\" | \"unknown\" | null,',\n  '  \"deposit_slip_ref\": \"<string or null>\",',\n  '  \"description\": \"<one line summary in English>\"',\n  '}',\n  '',\n  'Classification rules:',\n  '- payment_proof: message mentions payment, transfer, deposit, amount sent to IRBAS account',\n  '- expense_proof: message mentions expense, repair, purchase, bill, petrol, utility paid by the RO',\n  '- unrecognised: anything else (greetings, announcements, questions)',\n  '',\n  'Amount extraction rules:',\n  '- Pakistani formats: 450,000 or 4.5 lac or 4.5 lakh or 450000 are all valid numbers',\n  '- Extract deposit slip or reference numbers if mentioned (e.g. slip number 2024-1847)',\n  '- If no amount visible, return null'\n].join('\\n');\n\nreturn [{ json: {\n  model: 'llama-3.1-8b-instant',\n  temperature: 0,\n  max_tokens: 300,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: user }\n  ]\n} }];"},"id":"build-groq","name":"Build Groq Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,300]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GROQ_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"groq","name":"Groq Classification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,300]},{"parameters":{"jsCode":"const resp = $input.first().json;\nlet content = '';\ntry { content = resp && resp.choices && resp.choices[0] && resp.choices[0].message ? resp.choices[0].message.content : ''; }\ncatch (e) { content = ''; }\n\nlet parsed;\ntry {\n  const cleaned = String(content).replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  console.log('Groq classification parse FAILED, defaulting to unrecognised. Raw content:', content);\n  parsed = { classification: 'unrecognised', amount_pkr: null, payment_method: null, deposit_slip_ref: null, description: 'Could not parse AI response' };\n}\n\nconst allowed = ['payment_proof', 'expense_proof', 'unrecognised'];\nif (!allowed.includes(parsed.classification)) parsed.classification = 'unrecognised';\n\nlet amt = parsed.amount_pkr;\nif (amt === undefined) amt = null;\nif (typeof amt === 'string') { const n = parseFloat(amt.replace(/,/g, '')); amt = isNaN(n) ? null : n; }\n\nconsole.log('Classification:', parsed.classification, '| amount:', amt, '| slip:', parsed.deposit_slip_ref);\n\nreturn [{ json: {\n  classification: parsed.classification,\n  amount_pkr: amt,\n  payment_method: parsed.payment_method != null ? parsed.payment_method : null,\n  deposit_slip_ref: parsed.deposit_slip_ref != null ? parsed.deposit_slip_ref : null,\n  description: parsed.description != null ? parsed.description : ''\n} }];"},"id":"parse-classification","name":"Parse Classification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,300]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-payment_proof","leftValue":"={{ $json.classification }}","rightValue":"payment_proof","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"payment_proof"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-expense_proof","leftValue":"={{ $json.classification }}","rightValue":"expense_proof","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expense_proof"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-unrecognised","leftValue":"={{ $json.classification }}","rightValue":"unrecognised","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"unrecognised"}]},"options":{}},"id":"switch","name":"Route by Classification","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2220,300]},{"parameters":{"operation":"getAll","returnAll":false,"limit":20,"simple":true,"filters":{"q":"={{ 'from:' + $env.IRBAS_BANK_EMAIL + ' after:' + new Date(Date.now() - 86400000).toISOString().split('T')[0].replace(/-/g,'/') }}"},"options":{}},"id":"gmail-search","name":"Search Bank Emails","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2500,120],"credentials":{"gmailOAuth2":{"id":"irbas-gmail-cred","name":"IRBAS Gmail"}},"onError":"continueRegularOutput","webhookId":"d35f8c1f-85dc-470c-a2d8-2ac2e24f5b7b"},{"parameters":{"jsCode":"const claimedAmount = $node['Parse Classification'].json.amount_pkr;\nconst claimedSlip = $node['Parse Classification'].json.deposit_slip_ref;\nconst emails = $input.all().map(i => i.json);\nconsole.log('Matching against', emails.length, 'candidate email item(s). claimedAmount=', claimedAmount, 'claimedSlip=', claimedSlip);\n\nfunction extractAmount(text) {\n  if (!text) return null;\n  const patterns = [\n    /Amount:?\\s*PKR\\s*([0-9,]+)/i,   // UBL style\n    /PKR\\s*([0-9,]+)/i,               // HBL style\n    /Rs\\.?\\s*([0-9,]+)/i,            // MCB style\n    /([0-9]{3,},[0-9]{3})/             // Generic 450,000\n  ];\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m) { const n = parseFloat(m[1].replace(/,/g, '')); if (!isNaN(n)) return n; }\n  }\n  return null;\n}\nfunction extractSlip(text) {\n  if (!text) return null;\n  const m = text.match(/(?:slip|ref(?:erence)?|trx|txn)[^0-9]{0,10}([0-9][0-9\\-]{3,})/i);\n  return m ? m[1] : null;\n}\n\nlet result = { matched: false, bank_amount: null, bank_timestamp: null, match_confidence: 'low' };\n\nfor (const e of emails) {\n  const text = e.text || e.snippet || e.textHtml || e.textPlain || '';\n  if (!text) { continue; } // skip passthrough/non-email items\n  const amt = extractAmount(text);\n  const slip = extractSlip(text);\n  const ts = e.date || e.internalDate || null;\n  console.log('  candidate -> amount:', amt, 'slip:', slip);\n\n  const slipMatch = claimedSlip && slip && String(slip) === String(claimedSlip);\n  const amtMatch = (claimedAmount != null) && (amt != null) && Math.abs(amt - Number(claimedAmount)) <= 500;\n\n  if (slipMatch || amtMatch) {\n    let iso = null;\n    if (ts) { const d = new Date(isNaN(ts) ? ts : Number(ts)); if (!isNaN(d.getTime())) iso = d.toISOString(); }\n    result = {\n      matched: true,\n      bank_amount: amt,\n      bank_timestamp: iso,\n      match_confidence: (slipMatch && amtMatch) ? 'high' : (slipMatch ? 'high' : 'low')\n    };\n    break;\n  }\n}\nconsole.log('Bank match result:', JSON.stringify(result));\nreturn [{ json: result }];"},"id":"match-email","name":"Match Email to Payment","type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,120]},{"parameters":{"method":"GET","url":"={{ $env.SUPABASE_URL }}/rest/v1/regional_offices?or=(whatsapp_group_id.eq.{{ $node['Extract Fields'].json.group_id }},slack_channel_id.eq.{{ $node['Extract Fields'].json.group_id }})&select=id,name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"find-ro-a","name":"Find RO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3060,120]},{"parameters":{"jsCode":"const ro = $node['Find RO'].json;\nconst roId = Array.isArray(ro) ? (ro[0] && ro[0].id) : (ro && ro.id);\nconst m = $node['Match Email to Payment'].json;\nconst c = $node['Parse Classification'].json;\nreturn [{ json: {\n  whatsapp_message_id: $node['Capture Message Id'].json.whatsapp_message_id,\n  ro_id: roId || null,\n  amount_pkr: c.amount_pkr,\n  payment_method: c.payment_method,\n  deposit_slip_ref: c.deposit_slip_ref,\n  bank_email_match: m.matched,\n  bank_email_amount: m.bank_amount,\n  bank_email_timestamp: m.bank_timestamp,\n  status: 'pending'\n} }];"},"id":"build-payment-body","name":"Build Payment Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[3340,120]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/payment_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"create-payment","name":"Create Payment Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3620,120]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'payment_proof', processing_status: 'processed' }) }}","options":{}},"id":"mark-payment","name":"Mark Message Processed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3900,120]},{"parameters":{"method":"GET","url":"={{ $env.SUPABASE_URL }}/rest/v1/regional_offices?or=(whatsapp_group_id.eq.{{ $node['Extract Fields'].json.group_id }},slack_channel_id.eq.{{ $node['Extract Fields'].json.group_id }})&select=id,name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"find-ro-b","name":"Find RO B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,460]},{"parameters":{"jsCode":"const ro = $node['Find RO B'].json;\nconst roId = Array.isArray(ro) ? (ro[0] && ro[0].id) : (ro && ro.id);\nconst c = $node['Parse Classification'].json;\nreturn [{ json: {\n  whatsapp_message_id: $node['Capture Message Id'].json.whatsapp_message_id,\n  ro_id: roId || null,\n  description: c.description,\n  amount_pkr: c.amount_pkr,\n  media_url: $node['Extract Fields'].json.media_id || null,\n  status: 'pending'\n} }];"},"id":"build-expense-body","name":"Build Expense Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[2780,460]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/expense_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"create-expense","name":"Create Expense Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3060,460]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'expense_proof', processing_status: 'processed' }) }}","options":{}},"id":"mark-expense","name":"Mark Message Processed B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3340,460]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'unrecognised', processing_status: 'processed' }) }}","options":{}},"id":"mark-unknown","name":"Mark Unrecognised","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,640]}],"connections":{"WhatsApp Verify":{"main":[[{"node":"Verify Challenge","type":"main","index":0}]]},"WhatsApp Incoming":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Slack Incoming":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Extract Fields":{"main":[[{"node":"Log Raw Message","type":"main","index":0}]]},"Log Raw Message":{"main":[[{"node":"Capture Message Id","type":"main","index":0}]]},"Capture Message Id":{"main":[[{"node":"Build Groq Body","type":"main","index":0}]]},"Build Groq Body":{"main":[[{"node":"Groq Classification","type":"main","index":0}]]},"Groq Classification":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Parse Classification":{"main":[[{"node":"Route by Classification","type":"main","index":0}]]},"Route by Classification":{"main":[[{"node":"Search Bank Emails","type":"main","index":0}],[{"node":"Find RO B","type":"main","index":0}],[{"node":"Mark Unrecognised","type":"main","index":0}]]},"Search Bank Emails":{"main":[[{"node":"Match Email to Payment","type":"main","index":0}]]},"Match Email to Payment":{"main":[[{"node":"Find RO","type":"main","index":0}]]},"Find RO":{"main":[[{"node":"Build Payment Body","type":"main","index":0}]]},"Build Payment Body":{"main":[[{"node":"Create Payment Request","type":"main","index":0}]]},"Create Payment Request":{"main":[[{"node":"Mark Message Processed","type":"main","index":0}]]},"Find RO B":{"main":[[{"node":"Build Expense Body","type":"main","index":0}]]},"Build Expense Body":{"main":[[{"node":"Create Expense Request","type":"main","index":0}]]},"Create Expense Request":{"main":[[{"node":"Mark Message Processed B","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{"WhatsApp Verify":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","sec-ch-ua":"\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","upgrade-insecure-requests":"1","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","sec-fetch-site":"none","sec-fetch-mode":"navigate","sec-fetch-user":"?1","sec-fetch-dest":"document","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9","cookie":"g_state={\"i_l\":0,\"i_ll\":1781773503835,\"i_e\":{\"enable_itp_optimization\":24},\"i_et\":1781762263811}; gm_web_session=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbXFpMW9kcG0wMDAweXN1b2VsNnIycXRrIiwiZW1haWwiOiJtdWh0YXNoaW0uZXNvZnRAZ21haWwuY29tIiwicm9sZSI6IlNUVURFTlQiLCJpYXQiOjE3ODE3NzM1MDksImV4cCI6MTc4MTc3NzA0OX0.QgPmOr_zYQDLOTUJalJVmwHTzWuxPEcqJZEe8wi5Hh0; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2BcYUdypf07WAmxIiXycPRv7wByxBDLBi0%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2FUedlglQ2gIE2xaQAjl5ZDj1rApe3CNoU%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19kd1IxpJq%2BWtdNFKuBb5dDFhb%2FjM8LUe4BNRj2dk84okqdQQ5D4%2Bf64XHcujH%2FwbH30D0uysuQOw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19ebqwPoCVlqX7ujjReeGKCxyBQH%2Fcl6fQnUrneZHPsoP5CSH%2Bi%2BXoNVh1g3rW2EI0IZ4xqTUGeOoIshigveNBbSYzTTMX8RzZ5cgi8iWduB110PN5eZOn46rWxhg%2Bsd7T3EJg8xjB%2B2t4V%2BGEhfUwZ5JhQ7gAYsr4%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BdfprZTinsLsipozPKxdICLgGFd%2Bluu6TK%2FEbQQsW5JcX1q6Hs5FfJm4ztUhfWm8GdAaghBd26GHz%2B%2BkVFaGLnFsraR4hY54dUFyE6FCoSN0JqachMPa72RkKsnUB8rA3%2B9tZKg3bDq49DAUFaymOOuqMWA3k3B1PSb15HLL3SvmNPlLqcdxIytjJ395j%2F0QDFvkteWQa1og%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BYYpZEv%2FQ2HTQp%2FFij9x4khXqsNyhHi%2Fnr%2BB%2Fs%2F%2BjaOaRaI5jJ%2FoY9nGjL8xrvr%2FKnEBK8g%2FUyB%2Ba%2F3aWAPgANUWjehfFPtqrlkgYNvGnySMuBy98EXf6W8tRAYo%2BhaLZwSERd%2BQSRwA%3D%3D; ph_phc_kMstNfAgBcBkWSh6KdsgN09heqqNe5VNmalHP1Ni9Q4_posthog=%7B%22%24device_id%22%3A%222adad51edd8d30f3e37c7ce93a47496c303fbfaf4cf043c75c2c8220583ce0b0%230bcb6697-1f64-4dcd-9db4-fabacb6f4dec%22%2C%22distinct_id%22%3A%222adad51edd8d30f3e37c7ce93a47496c303fbfaf4cf043c75c2c8220583ce0b0%230bcb6697-1f64-4dcd-9db4-fabacb6f4dec%22%2C%22%24sesid%22%3A%5B1781783769194%2C%22019eda70-1867-7975-b8c7-0930b83035bb%22%2C1781781239908%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2Fhome%2Fworkflows%22%7D%2C%22%24user_state%22%3A%22anonymous%22%7D"},"params":{},"query":{"token":"${WHATSAPP_VERIFY_TOKEN:-test_token_123}"},"body":{},"webhookUrl":"http://localhost:5678/webhook/whatsapp-incoming","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"819901e6-7318-478d-b0bd-e6df6d3bcfbf","activeVersionId":"640ea437-6d26-4955-9e7a-3d2be1f4ff9d","versionCounter":3,"triggerCount":2,"sourceWorkflowId":null,"tags":[],"activeVersion":{"updatedAt":"2026-06-18T12:08:47.000Z","createdAt":"2026-06-18T11:59:46.956Z","versionId":"640ea437-6d26-4955-9e7a-3d2be1f4ff9d","workflowId":"c2W3ZYwZj6LsdKwQ","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-incoming","options":{}},"id":"webhook-post","name":"WhatsApp Incoming","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,304],"webhookId":"whatsapp-incoming"},{"parameters":{"path":"whatsapp-incoming","responseMode":"responseNode","options":{}},"id":"webhook-get","name":"WhatsApp Verify","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[272,640],"webhookId":"whatsapp-incoming"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"id":"verify-respond","name":"Verify Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[544,640]},{"parameters":{"jsCode":"// Normalize both the WhatsApp Cloud API payload and the mock script payload.\nconst incoming = $input.first().json;\n\n// n8n places the parsed request body under .body; fall back to root.\nconst reqBody = (incoming && incoming.body) ? incoming.body : incoming;\n// Mock scripts double-wrap under another \"body\"; unwrap if present.\nconst waRoot = (reqBody && reqBody.body) ? reqBody.body : reqBody;\n\n// --- Query-param token auth (?token=...) ---\nconst expected = $env.WHATSAPP_VERIFY_TOKEN;\nconst provided = (incoming && incoming.query) ? incoming.query.token : undefined;\nif (expected && String(expected).length > 0 && provided !== expected) {\n  throw new Error('Unauthorized: invalid or missing ?token query parameter');\n}\n\nconst entry  = waRoot && waRoot.entry ? waRoot.entry[0] : undefined;\nconst change = entry && entry.changes ? entry.changes[0] : undefined;\nconst value  = change ? change.value : undefined;\nconst msg    = value && value.messages ? value.messages[0] : undefined;\n\nconst message_text = (msg && msg.text && msg.text.body) ? msg.text.body : '';\nconst media_id = (msg && msg.image && msg.image.id) ? msg.image.id\n               : (msg && msg.document && msg.document.id) ? msg.document.id\n               : '';\n\nreturn [{\n  json: {\n    sender_phone: msg && msg.from ? msg.from : '',\n    group_id: value && value.metadata ? value.metadata.display_phone_number : '',\n    message_text,\n    media_id,\n    raw_payload_obj: reqBody || {},\n  },\n}];"},"id":"extract-fields","name":"Extract Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[544,304]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  raw_payload: $node['Extract Fields'].json.raw_payload_obj,\n  sender_phone: $node['Extract Fields'].json.sender_phone,\n  group_id: $node['Extract Fields'].json.group_id,\n  message_text: $node['Extract Fields'].json.message_text,\n  media_url: $node['Extract Fields'].json.media_id || null,\n  processing_status: 'pending'\n}) }}","options":{}},"id":"log-raw","name":"Log Raw Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,304]},{"parameters":{"jsCode":"const r = $input.first().json;\nconst row = Array.isArray(r) ? r[0] : (r && Array.isArray(r.data) ? r.data[0] : r);\nreturn [{ json: { whatsapp_message_id: row && row.id ? row.id : null } }];"},"id":"capture-id","name":"Capture Message Id","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,304]},{"parameters":{"jsCode":"const text = $node['Extract Fields'].json.message_text || '';\nconst hasImage = ($node['Extract Fields'].json.media_id || '') !== '';\n\nconst system = \"You are a classifier for messages sent by Pakistani Regional Office accountants in a WhatsApp business group. You must respond with ONLY valid JSON — no explanation, no markdown, no backticks. Just the raw JSON object.\";\n\nconst user = [\n  'Classify the following message into exactly one category and extract key fields.',\n  '',\n  'Message: \"' + text + '\"',\n  'Has image attached: ' + hasImage,\n  '',\n  'Respond with ONLY this JSON structure:',\n  '{',\n  '  \"classification\": \"payment_proof\" | \"expense_proof\" | \"unrecognised\",',\n  '  \"amount_pkr\": <number or null>,',\n  '  \"payment_method\": \"bank_transfer\" | \"cash_deposit\" | \"unknown\" | null,',\n  '  \"deposit_slip_ref\": \"<string or null>\",',\n  '  \"description\": \"<one line summary in English>\"',\n  '}',\n  '',\n  'Classification rules:',\n  '- payment_proof: message mentions payment, transfer, deposit, amount sent to IRBAS account',\n  '- expense_proof: message mentions expense, repair, purchase, bill, petrol, utility paid by the RO',\n  '- unrecognised: anything else (greetings, announcements, questions)',\n  '',\n  'Amount extraction rules:',\n  '- Pakistani formats: 450,000 or 4.5 lac or 4.5 lakh or 450000 are all valid numbers',\n  '- Extract deposit slip or reference numbers if mentioned (e.g. slip number 2024-1847)',\n  '- If no amount visible, return null'\n].join('\\n');\n\nreturn [{ json: {\n  model: 'llama-3.1-8b-instant',\n  temperature: 0,\n  max_tokens: 300,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: user }\n  ]\n} }];"},"id":"build-groq","name":"Build Groq Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,304]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GROQ_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"groq","name":"Groq Classification","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,304]},{"parameters":{"jsCode":"const resp = $input.first().json;\nlet content = '';\ntry { content = resp && resp.choices && resp.choices[0] && resp.choices[0].message ? resp.choices[0].message.content : ''; }\ncatch (e) { content = ''; }\n\nlet parsed;\ntry {\n  const cleaned = String(content).replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  console.log('Groq classification parse FAILED, defaulting to unrecognised. Raw content:', content);\n  parsed = { classification: 'unrecognised', amount_pkr: null, payment_method: null, deposit_slip_ref: null, description: 'Could not parse AI response' };\n}\n\nconst allowed = ['payment_proof', 'expense_proof', 'unrecognised'];\nif (!allowed.includes(parsed.classification)) parsed.classification = 'unrecognised';\n\nlet amt = parsed.amount_pkr;\nif (amt === undefined) amt = null;\nif (typeof amt === 'string') { const n = parseFloat(amt.replace(/,/g, '')); amt = isNaN(n) ? null : n; }\n\nconsole.log('Classification:', parsed.classification, '| amount:', amt, '| slip:', parsed.deposit_slip_ref);\n\nreturn [{ json: {\n  classification: parsed.classification,\n  amount_pkr: amt,\n  payment_method: parsed.payment_method != null ? parsed.payment_method : null,\n  deposit_slip_ref: parsed.deposit_slip_ref != null ? parsed.deposit_slip_ref : null,\n  description: parsed.description != null ? parsed.description : ''\n} }];"},"id":"parse-classification","name":"Parse Classification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-payment_proof","leftValue":"={{ $json.classification }}","rightValue":"payment_proof","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"payment_proof"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-expense_proof","leftValue":"={{ $json.classification }}","rightValue":"expense_proof","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expense_proof"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-unrecognised","leftValue":"={{ $json.classification }}","rightValue":"unrecognised","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"unrecognised"}]},"options":{}},"id":"switch","name":"Route by Classification","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2224,304]},{"parameters":{"operation":"getAll","limit":20,"filters":{"q":"={{ 'from:' + $env.IRBAS_BANK_EMAIL + ' after:' + new Date(Date.now() - 86400000).toISOString().split('T')[0].replace(/-/g,'/') }}"}},"id":"gmail-search","name":"Search Bank Emails","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2512,128],"webhookId":"9a101113-0249-46c9-9cef-bf9110fb07ad","credentials":{"gmailOAuth2":{"id":"irbas-gmail-cred","name":"IRBAS Gmail"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const claimedAmount = $node['Parse Classification'].json.amount_pkr;\nconst claimedSlip = $node['Parse Classification'].json.deposit_slip_ref;\nconst emails = $input.all().map(i => i.json);\nconsole.log('Matching against', emails.length, 'candidate email item(s). claimedAmount=', claimedAmount, 'claimedSlip=', claimedSlip);\n\nfunction extractAmount(text) {\n  if (!text) return null;\n  const patterns = [\n    /Amount:?\\s*PKR\\s*([0-9,]+)/i,   // UBL style\n    /PKR\\s*([0-9,]+)/i,               // HBL style\n    /Rs\\.?\\s*([0-9,]+)/i,            // MCB style\n    /([0-9]{3,},[0-9]{3})/             // Generic 450,000\n  ];\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m) { const n = parseFloat(m[1].replace(/,/g, '')); if (!isNaN(n)) return n; }\n  }\n  return null;\n}\nfunction extractSlip(text) {\n  if (!text) return null;\n  const m = text.match(/(?:slip|ref(?:erence)?|trx|txn)[^0-9]{0,10}([0-9][0-9\\-]{3,})/i);\n  return m ? m[1] : null;\n}\n\nlet result = { matched: false, bank_amount: null, bank_timestamp: null, match_confidence: 'low' };\n\nfor (const e of emails) {\n  const text = e.text || e.snippet || e.textHtml || e.textPlain || '';\n  if (!text) { continue; } // skip passthrough/non-email items\n  const amt = extractAmount(text);\n  const slip = extractSlip(text);\n  const ts = e.date || e.internalDate || null;\n  console.log('  candidate -> amount:', amt, 'slip:', slip);\n\n  const slipMatch = claimedSlip && slip && String(slip) === String(claimedSlip);\n  const amtMatch = (claimedAmount != null) && (amt != null) && Math.abs(amt - Number(claimedAmount)) <= 500;\n\n  if (slipMatch || amtMatch) {\n    let iso = null;\n    if (ts) { const d = new Date(isNaN(ts) ? ts : Number(ts)); if (!isNaN(d.getTime())) iso = d.toISOString(); }\n    result = {\n      matched: true,\n      bank_amount: amt,\n      bank_timestamp: iso,\n      match_confidence: (slipMatch && amtMatch) ? 'high' : (slipMatch ? 'high' : 'low')\n    };\n    break;\n  }\n}\nconsole.log('Bank match result:', JSON.stringify(result));\nreturn [{ json: result }];"},"id":"match-email","name":"Match Email to Payment","type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,128]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/regional_offices?whatsapp_group_id=eq.{{ $node['Extract Fields'].json.group_id }}&select=id,name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"find-ro-a","name":"Find RO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3072,128]},{"parameters":{"jsCode":"const ro = $node['Find RO'].json;\nconst roId = Array.isArray(ro) ? (ro[0] && ro[0].id) : (ro && ro.id);\nconst m = $node['Match Email to Payment'].json;\nconst c = $node['Parse Classification'].json;\nreturn [{ json: {\n  whatsapp_message_id: $node['Capture Message Id'].json.whatsapp_message_id,\n  ro_id: roId || null,\n  amount_pkr: c.amount_pkr,\n  payment_method: c.payment_method,\n  deposit_slip_ref: c.deposit_slip_ref,\n  bank_email_match: m.matched,\n  bank_email_amount: m.bank_amount,\n  bank_email_timestamp: m.bank_timestamp,\n  status: 'pending'\n} }];"},"id":"build-payment-body","name":"Build Payment Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[3344,128]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/payment_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"create-payment","name":"Create Payment Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3632,128]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'payment_proof', processing_status: 'processed' }) }}","options":{}},"id":"mark-payment","name":"Mark Message Processed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3904,128]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/regional_offices?whatsapp_group_id=eq.{{ $node['Extract Fields'].json.group_id }}&select=id,name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"find-ro-b","name":"Find RO B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2512,464]},{"parameters":{"jsCode":"const ro = $node['Find RO B'].json;\nconst roId = Array.isArray(ro) ? (ro[0] && ro[0].id) : (ro && ro.id);\nconst c = $node['Parse Classification'].json;\nreturn [{ json: {\n  whatsapp_message_id: $node['Capture Message Id'].json.whatsapp_message_id,\n  ro_id: roId || null,\n  description: c.description,\n  amount_pkr: c.amount_pkr,\n  media_url: $node['Extract Fields'].json.media_id || null,\n  status: 'pending'\n} }];"},"id":"build-expense-body","name":"Build Expense Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,464]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/expense_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"create-expense","name":"Create Expense Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3072,464]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'expense_proof', processing_status: 'processed' }) }}","options":{}},"id":"mark-expense","name":"Mark Message Processed B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,464]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/whatsapp_messages?id=eq.{{ $node['Capture Message Id'].json.whatsapp_message_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ classification: 'unrecognised', processing_status: 'processed' }) }}","options":{}},"id":"mark-unknown","name":"Mark Unrecognised","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2512,640]}],"connections":{"WhatsApp Verify":{"main":[[{"node":"Verify Challenge","type":"main","index":0}]]},"WhatsApp Incoming":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Extract Fields":{"main":[[{"node":"Log Raw Message","type":"main","index":0}]]},"Log Raw Message":{"main":[[{"node":"Capture Message Id","type":"main","index":0}]]},"Capture Message Id":{"main":[[{"node":"Build Groq Body","type":"main","index":0}]]},"Build Groq Body":{"main":[[{"node":"Groq Classification","type":"main","index":0}]]},"Groq Classification":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Parse Classification":{"main":[[{"node":"Route by Classification","type":"main","index":0}]]},"Route by Classification":{"main":[[{"node":"Search Bank Emails","type":"main","index":0}],[{"node":"Find RO B","type":"main","index":0}],[{"node":"Mark Unrecognised","type":"main","index":0}]]},"Search Bank Emails":{"main":[[{"node":"Match Email to Payment","type":"main","index":0}]]},"Match Email to Payment":{"main":[[{"node":"Find RO","type":"main","index":0}]]},"Find RO":{"main":[[{"node":"Build Payment Body","type":"main","index":0}]]},"Build Payment Body":{"main":[[{"node":"Create Payment Request","type":"main","index":0}]]},"Create Payment Request":{"main":[[{"node":"Mark Message Processed","type":"main","index":0}]]},"Find RO B":{"main":[[{"node":"Build Expense Body","type":"main","index":0}]]},"Build Expense Body":{"main":[[{"node":"Create Expense Request","type":"main","index":0}]]},"Create Expense Request":{"main":[[{"node":"Mark Message Processed B","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Muhatashim Ali","name":"Version 640ea437","description":"","autosaved":true},"scopes":["execution:reveal","workflow:create","workflow:delete","workflow:disableRedaction","workflow:enableRedaction","workflow:execute","workflow:execute-chat","workflow:export","workflow:import","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update"],"checksum":"44eb8b38347c6364a7cd11b93a3aa55dce13e46dbe96ab4c83bb52461c665f48"}}